{% extends "base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block page_content %}
<div class="page-header">    
    <h1>Ingresó correctamente!</h1>
	<div>
			<h1>ATENCIÓN</h1>
			<h3>Estimado Usuario: se han detectado errores en el procesamiento de archivo "Ventas".</h3>
			<h3>Suministre esta información a su Referente para aplicar su proceso de contingencia:</h3>
			{% for error in errores %}
				<p>- {{ error }}</p>
			{% endfor %}
			<p></p>
			<h3>Muchas Gracias!</h3>
	</div>
</div>
{% endblock %}